{% extends 'index.html' %}
{% block body %}
<style type="text/css">
    #addBag a  span {
        color: white;
    }
    #addBag a  i {
        color: white;
    }
</style>



<div class="container">
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
            Added Bags
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-center">
                <thead class="thead-dark">
                    <tr>
                    <th class="text-center" scope="col">Bag ID</th>
                    <th class="text-center" scope="col">Bag Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                      <td class="text-center" >{{item[0]}}</td>
                      <td class="text-center" >{{item[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@caselink</div>
</div>
</div>
<form method="post" action="/dept/post/bagwt">
    <div class="input-group mb-3" style="width:350px; margin: 0px 30px;float:left;left:70px">
  <input style="height:50px" type="text" class="form-control" name="weight" placeholder="Enter the weight of the Bag" aria-label="Bag Weight" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary btn-lg" type="submit">Add Bag</button>
  </div>
</div>
</form>
<form action="/">
        <button style="float:center;position:fixed;bottom:250px;right:85px;height:50px" type="submit" class="btn m-3 btn-success btn-lg">Submit</button>
</form>

{% endblock %}