{% extends 'index.html' %}
{% block body %}
<div class="container">
    <h1 class="p-3">All Passenger Bags</h1>
</div>
<div class = "container">
  <table class="table table-bordered table-hover  align-center">
    <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">Passenger ID</th>
        <th class="text-center" scope="col">Bag ID</th>
        <th class="text-center" scope="col">Bag Weight</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
          <td class="text-center" >{{item[0]}}</td>
          <td class="text-center" >{{item[1]}}</td>
          <td class="text-center" >{{item[2]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}