{% extends 'index.html' %}
{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style type="text/css">
    #addPass a  span {
        color: white;
    }
    #addPass a  i {
        color: white;
    }
</style>
<div class="container">
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
            Status
    </div>
    <div class="card-body">
        <h4>{{status}}</h4>
    </div>
    <script type="text/javascript">


 writeRfid(getCookie('passRfid'));



</script>

</div>
</div>

{% endblock %}